<h2>Button Variables</h2>

<div class="message warning"><strong>WARNING</strong> This page is currently a stub. It includes a list of all related variables, but it will later be extended to include descriptions of how exactly these variables may be used.</div>

<ul>
    <li><%= DOC.vars.sass.render('button-border-radius-multiplier') %></li>
    <li><%= DOC.vars.sass.render('button-border-radius-multiplier-default') %></li>
    <li><%= DOC.vars.sass.render('button-border-radius-multiplier-large') %></li>
    <li><%= DOC.vars.sass.render('button-border-radius-multiplier-mini') %></li>
    <li><%= DOC.vars.sass.render('button-border-radius-multiplier-small') %></li>
    <li><%= DOC.vars.sass.render('button-cursor') %></li>
    <li><%= DOC.vars.sass.render('button-font-size-default') %></li>
    <li><%= DOC.vars.sass.render('button-font-size-large') %></li>
    <li><%= DOC.vars.sass.render('button-font-size-mini') %></li>
    <li><%= DOC.vars.sass.render('button-font-size-small') %></li>
    <li><%= DOC.vars.sass.render('button-padding-multiplier-default-horizontal') %></li>
    <li><%= DOC.vars.sass.render('button-padding-multiplier-default-vertical') %></li>
    <li><%= DOC.vars.sass.render('button-padding-multiplier-horizontal') %></li>
    <li><%= DOC.vars.sass.render('button-padding-multiplier-large-horizontal') %></li>
    <li><%= DOC.vars.sass.render('button-padding-multiplier-large-vertical') %></li>
    <li><%= DOC.vars.sass.render('button-padding-multiplier-mini-horizontal') %></li>
    <li><%= DOC.vars.sass.render('button-padding-multiplier-mini-vertical') %></li>
    <li><%= DOC.vars.sass.render('button-padding-multiplier-small-horizontal') %></li>
    <li><%= DOC.vars.sass.render('button-padding-multiplier-small-vertical') %></li>
    <li><%= DOC.vars.sass.render('button-padding-multiplier-vertical') %></li>
</ul>