<h2>Table Variables</h2>

<div class="message warning"><strong>WARNING</strong> This page is currently a stub. It includes a list of all related variables, but it will later be extended to include descriptions of how exactly these variables may be used.</div>

<ul>
    <li><%= DOC.vars.sass.render('table-border-color') %></li>
    <li><%= DOC.vars.sass.render('table-bordered-border-radius') %></li>
    <li><%= DOC.vars.sass.render('table-caption-text-color') %></li>
    <li><%= DOC.vars.sass.render('table-cell-padding') %></li>
    <li><%= DOC.vars.sass.render('table-condensed-cell-padding') %></li>
    <li><%= DOC.vars.sass.render('table-hover-background-color') %></li>
    <li><%= DOC.vars.sass.render('table-striped-background-color') %></li>
</ul>