<h2>Type</h2>

<p>This library provides several helper utilities related to text styling:</p>

<ul class="modules">
    <li><%= DOC.modules.render('Base/Type/Align') %></li>
    <li><%= DOC.modules.render('Base/Type/Align/Responsive') %></li>
    <li><%= DOC.modules.render('Base/Type/Align/Responsive_Above') %></li>
    <li><%= DOC.modules.render('Base/Type/Font') %></li>
</ul>

<h3>Basic Alignment</h3>

<p>This module provides four text alignment helpers:</p>

<ul>
    <li><code>.text-left</code></li>
    <li><code>.text-center</code></li>
    <li><code>.text-right</code></li>
    <li><code>.text-justify</code></li>
</ul>

<p>These classes may be applied to any element and will style contained textual content accordingly, including inheriting into all children except where the HTML specification does not allow inheritance from parent elements.</p>

<pre class="prettyprint">&lt;p class="text-left"&gt;.text-left&lt;/p&gt;
&lt;p class="text-center"&gt;.text-center&lt;/p&gt;
&lt;p class="text-right"&gt;.text-right&lt;/p&gt;
&lt;p class="text-justify"&gt;.text-justify&lt;/p&gt;</pre>

<p class="text-left primary">.text-left</p>
<p class="text-center secondary">.text-center</p>
<p class="text-right tertiary">.text-right</p>
<p class="text-justify neutral">.text-justify</p>

<h3>Responsive Alignment</h3>

<p>WebBlocks provides a set of classes that allow a user to align text at or below a breakpoint, whereas above the breakpoint, the element is rendered without the alignment:</p>

<div class="row medium-small-collapse">
    <div class="panel-6">
        <ul class="unstyled list">
            <li><code>.text-left-xxsmall</code></li>
            <li><code>.text-left-xsmall</code></li>
            <li><code>.text-left-small</code></li>
            <li><code>.text-left-medium-small</code></li>
            <li><code>.text-left-medium</code></li>
            <li><code>.text-left-medium-large</code></li>
            <li><code>.text-left-large</code></li>
        </ul>
    </div>
    <div class="panel-6">
        <ul class="unstyled list">
            <li><code>.text-center-xxsmall</code></li>
            <li><code>.text-center-xsmall</code></li>
            <li><code>.text-center-small</code></li>
            <li><code>.text-center-medium-small</code></li>
            <li><code>.text-center-medium</code></li>
            <li><code>.text-center-medium-large</code></li>
            <li><code>.text-center-large</code></li>
        </ul>
    </div>
</div>
<div class="row medium-small-collapse">
    <div class="panel-6">
        <ul class="unstyled list">
            <li><code>.text-right-xxsmall</code></li>
            <li><code>.text-right-xsmall</code></li>
            <li><code>.text-right-small</code></li>
            <li><code>.text-right-medium-small</code></li>
            <li><code>.text-right-medium</code></li>
            <li><code>.text-right-medium-large</code></li>
            <li><code>.text-right-large</code></li>
        </ul>
    </div>
    <div class="panel-6">
        <ul class="unstyled list">
            <li><code>.text-justify-xxsmall</code></li>
            <li><code>.text-justify-xsmall</code></li>
            <li><code>.text-justify-small</code></li>
            <li><code>.text-justify-medium-small</code></li>
            <li><code>.text-justify-medium</code></li>
            <li><code>.text-justify-medium-large</code></li>
            <li><code>.text-justify-large</code></li>
        </ul>
    </div>
</div>

<p>Similarly, WebBlocks also provides a set of classes that allow a user to align text above a breakpoint, whereas at or below the breakpoint, the element will be rendered without the alignment:

<div class="row medium-small-collapse">
    <div class="panel-6">
        <ul class="unstyled list">
            <li><code>.text-left-above-xxsmall</code></li>
            <li><code>.text-left-above-xsmall</code></li>
            <li><code>.text-left-above-small</code></li>
            <li><code>.text-left-above-medium-small</code></li>
            <li><code>.text-left-above-medium</code></li>
            <li><code>.text-left-above-medium-large</code></li>
            <li><code>.text-left-above-large</code></li>
        </ul>
    </div>
    <div class="panel-6">
        <ul class="unstyled list">
            <li><code>.text-center-above-xxsmall</code></li>
            <li><code>.text-center-above-xsmall</code></li>
            <li><code>.text-center-above-small</code></li>
            <li><code>.text-center-above-medium-small</code></li>
            <li><code>.text-center-above-medium</code></li>
            <li><code>.text-center-above-medium-large</code></li>
            <li><code>.text-center-above-large</code></li>
        </ul>
    </div>
</div>
<div class="row medium-small-collapse">
    <div class="panel-6">
        <ul class="unstyled list">
            <li><code>.text-right-above-xxsmall</code></li>
            <li><code>.text-right-above-xsmall</code></li>
            <li><code>.text-right-above-small</code></li>
            <li><code>.text-right-above-medium-small</code></li>
            <li><code>.text-right-above-medium</code></li>
            <li><code>.text-right-above-medium-large</code></li>
            <li><code>.text-right-above-large</code></li>
        </ul>
    </div>
    <div class="panel-6">
        <ul class="unstyled list">
            <li><code>.text-justify-above-xxsmall</code></li>
            <li><code>.text-justify-above-xsmall</code></li>
            <li><code>.text-justify-above-small</code></li>
            <li><code>.text-justify-above-medium-small</code></li>
            <li><code>.text-justify-above-medium</code></li>
            <li><code>.text-justify-above-medium-large</code></li>
            <li><code>.text-justify-above-large</code></li>
        </ul>
    </div>
</div>

<p>An element with <code>.text-center-medium</code> will be aligned to the center at or below <code>$breakpoint-medium</code>, whereas an element <code>.text-right-above-medium</code> will be aligned to the right above <code>$breakpoint-medium</code>:</p>

<pre class="prettyprint">&lt;div class="text-center-medium"&gt;
    &lt;!-- center-aligned at or below medium breakpoint --&gt;
&lt;/div&gt;
&lt;div class="text-right-above-medium"&gt;
    &lt;!-- right-aligned above medium breakpoint --&gt;
&lt;/div&gt;</pre>

<div class="text-center-medium">
    .text-center-medium
</div>
<div class="text-right-above-medium">
    .text-right-above-medium
</div>

<p>These can be mixed and matched to define alignments besides the container alignment both above and below a breakpoint as follows:</p>

<pre class="prettyprint">&lt;div class="text-center-medium text-right-above-medium"&gt;
    &lt;!-- center-aligned at or below medium breakpoint, 
          or right-aligned above medium breakpoint --&gt;
&lt;/div&gt;</pre>

<div class="text-center-medium text-right-above-medium">
    .text-center-medium.text-right-above-medium
</div>

<h3>Font</h3>

<p>This module defines a number of base styles:</p>

<ul>
    <li>Font size and family for the body</li>
    <li>Font sizes, margins, line heights and margins for the header, paragraph and list item tags</li>
    <li>Styling for <code>abbr[title]</code>, <code>address</code>, <code>blockquote</code>, <code>cite</code> and <code>hr</code> tags</li>
</ul>

<h4>Examples</h4>

<p>The following shows much of the styling applied by this module:</p>

<div class="text-examples">
    <h1>Header 1<br><small>with small tag</small></h1>
    <h2>Header 2<br><small>with small tag</small></h2>
    <h3>Header 3<br><small>with small tag</small></h3>
    <h4>Header 4<br><small>with small tag</small></h4>
    <h5>Header 5<br><small>with small tag</small></h5>
    <h6>Header 6<br><small>with small tag</small></h6>
    <p>Paragraph text<br><small>with small tag</small></p>
    <ul>
        <li>List item text</li>
    </ul>
</div>

<h4>Configuration</h4>

<ul class="configuration">
    <li><%= DOC.modules.render_variables('Base/Type/Font').join('</li><li>') %></li>
</ul>

<p>It is worth note that some components, such as the Bootstrap adapter, may internally override the values assigned by this module.</p>

<style>
    p[class*="text-"] {
        padding: 5px;
    }
    .text-examples {
        border: 1px solid #ccc;
        padding: 5px 10px;
    }
</style>