<code class="text-primary"><b>$<%= name %></b></code>
<small>
<br><%= description %>
<br><span class="text-info">default</span> <code><%= default_value %></code>
<br><span class="text-info">type</span> <code><%= type %></code>
<% if(typeof note !== 'undefined'){ %><br><span class="text-info">note</spna> <em><%= note %></em><% } %>
</small>