<h2>Compatibility</h2>

<p>This namespace includes libraries which improve cross-browser compatibility.</p>

<h3>IE7 Compatibility</h3>

<p>These modules are loaded into the <code>blocks-ie.css</code> build file and targeted at IE7 specifically:</p>

<ul class="modules">
    <li><%= DOC.modules.render('Compatibility/IE/Image/Scaling') %></li>
</ul>

<p><em>NOTE: The <code>Compatibility/IE/Image/Scaling</code> only supports JPEG images. The package <a href="#API/Package/ie7imagescaling">alphaimagescaling</a> may be enabled to provide image scaling support for additional image types such as PNG and GIF.</em></p>

<h3>IE8 and Below Compatibility</h3>

<p>These modules are loaded into the <code>blocks-ie.css</code> build file and thus target IE8 and below:</p>

<ul class="modules">
    <li><%= DOC.modules.render('Compatibility/IE/CSS/Filter/Border_Radius') %></li>
</ul>

<h3>Capability Testing</h3>

<p>These modules provide Javascript functions and properties that allow one to test whether or not a browser supports all WebBlocks required or recommended features:</p>

<ul class="modules">
    <li><%= DOC.modules.render_details('Compatibility/Support') %></li>
    <li><%= DOC.modules.render_details('Compatibility/Support/CSS') %></li>
    <li><%= DOC.modules.render_details('Compatibility/Support/HTML') %></li>
</ul>

<h3>IE9 and Below - Experimental CSS Splitting</h3>

<p>Internet Explorer 9 and below are unable to process more than 4095 rules per stylesheet. WebBlocks includes OptiCSS as an optional and experimental package to seemlessly split stylesheets that exceed this limit.</p>

<div class='message warning'><strong>WARNING</strong> This is an experimental package not yet part of WebBlocks core. Some users have reported issues with this package</div>

<p>Enable this by compiling WebBlocks with the <code>:opticss</code> package added to <code>Rakefile-config.rb</code>:</p>

<pre class="prettyprint">WebBlocks.config[:build][:packages] &lt;&lt; :opticss</pre>
